table {
    width: 100%;
}

.demo-row-is-clicked {
    font-weight: bold;
}

#subCard {
    margin-top: 1rem;
}

#subIDin {
     margin-right: 1rem;
}

#cFooterA, #cFooterE, #cFooterSA, #cFooterSE {
    padding: 1rem;
}