#loginCard {
    width: 20%;
    padding: 3rem;
    background-color: rgba(170, 48, 44, 0.815);
    align-items: center;
    margin-left: 30%;
    margin-top: 5%;
}

#divCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lbl {
    padding-bottom: 0.4rem;
}