<mat-card id="loginCard">
    <div id="divCard">
        <label for="username" class="lbl">Username: </label>
        <input id="username" type="text" [formControl]="username">
        <br>
        <label for="password" class="lbl">Password: </label>
        <input id="password" type="password" [formControl]="password">
        <br>
        <label id="isValid" hidden="true">Username or password is incorrect!<br></label>
        <mat-card-actions>
            <button mat-flat-button color="primary" type="submit" (click)="login()">Login</button>
        </mat-card-actions>
    </div>
</mat-card>